@font-face {
  font-family: Galano;
  src: url(./Assets/Fonts/GalanoGrotesque/GalanoGrotesqueMedium.otf);
}

/* @font-face {
  font-family: GalanoBold;
  src: url(./Assets/Fonts/GalanoGrotesque/GalanoGrotesqueAltBold.otf);
} */

.App {
  width: 100%;
  min-height: 100%;
}

.navbar-brand {
  font-weight: 600;
  font-family: Galano;
  font-size: 1.2rem;
  opacity: 0.9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.tableForAll {
  margin: 1rem 3rem !important;
}

.subTableForAll {
  margin: 0;
  width: 100%;
  overflow-x: scroll;
}
.addNewNursery {
  background: rgb(60, 104, 87);
  background: linear-gradient(
    90deg,
    rgba(60, 104, 87, 1) 0%,
    rgba(0, 81, 41, 1) 100%
  );
  color: white !important;
  border-radius: 0.2rem !important;
  border: none;
}

.lilCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 20px;
  height: 20px;
  background: rgb(60, 104, 87);
  background: linear-gradient(
    90deg,
    rgba(60, 104, 87, 1) 0%,
    rgba(0, 81, 41, 1) 100%
  );
  border: none;
  border-radius: 100%;
}

.form-check-input ::before {
  border-radius: 50% !important;
}

.form-check-input:checked {
  background-color: rgb(73, 133, 14) !important;
  /* background-color: linear-gradient(
    90deg,
    rgba(73, 133, 14, 1) 0%,
    rgba(141, 171, 62, 1) 100%
  ) !important; */
  border: none !important;
}

.allProductsBtn:hover {
  background: rgb(60, 104, 87);
  background: linear-gradient(
    90deg,
    rgba(60, 104, 87, 1) 0%,
    rgba(0, 81, 41, 1) 100%
  );
}

.dropdown-menu {
  width: 100% !important;
  background: rgb(60, 104, 87);
  background: linear-gradient(
    90deg,
    rgba(60, 104, 87, 1) 0%,
    rgba(0, 81, 41, 1) 100%
  );
}

.dropdown-item.active {
  background-color: #eaeaea2e;
}

.card {
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 15px #546b912b;
}

@media only screen and (max-width: 992px) {
  .mainsection {
    width: 100%;
  }

  .section1 {
    width: 50%;
  }

  /* .sideListItems{
    width: 100%;
  } */

  .hideButton {
    display: initial !important;
    font-size: 1.7rem;
  }

  .section2-btn {
    display: flex;
    width: 100% !important;
    flex-direction: column;
  }

  .section2 {
    width: 100%;
    left: 0;
  }

  .filterInput {
    width: 100% !important;
    margin: 0 !important;
  }

  .addNewNursery {
    width: 100%;
    margin-bottom: 2rem;
  }

  .btn-AllNurseries {
    width: 100%;
  }

  .filterInputInAllOrders {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100;
    flex-direction: column;
  }

  .tableForAll {
    margin: 1rem !important;
  }

  .subTableForAll {
    margin: 0;
    width: 100%;
    overflow-x: scroll;
  }

  .categoryBtn {
    width: 100%;
    margin: 0 0 2rem 0 !important;
  }

  .categorySelection {
    width: 100%;
    margin: 0 0 2rem 0 !important;
  }

  .allOptions {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 !important;
  }

  /* .form-check {
    margin-left: 3rem;
  } */

  .form-check-label {
    margin: 0 !important;
  }

  .modeHolder {
    width: 100%;
    margin: 0 !important;
  }

  .filterOption {
    margin: 2rem 0 !important;
  }

  .gridHandler {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  .card {
    width: 100% !important;
  }

  .cardView {
    justify-content: flex-start !important;
    padding: 1rem;
  }

  .overviewText {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .homePageSelector {
    width: 100% !important;
    margin-bottom: 1rem;
  }

  .topTableContainer-HomePage {
    flex-wrap: wrap;
  }

  .topTableContainer-HomePage table {
    margin: 0 0 1rem 0 !important;
  }

  .lastContainerHolder {
    flex-wrap: wrap;
  }

  .tableAndBannerHolder {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .bannerContainer {
    min-width: 60% !important;
  }

  .orderSummaryContainer {
    width: 100% !important;
    margin: 2rem 0;
  }

  .customerNameContainer {
    width: 100% !important;
  }

  .Page3Wrapper {
    width: 100% !important;
  }

  .page3Container {
    width: 100% !important;
    overflow: hidden;
    padding: 1rem 1rem 0 1rem !important;
  }

  .page3Container2 {
    width: 100% !important;
    padding: 0 1rem !important;
  }

  .p3-order-block {
    margin: 1rem 0 !important;
  }

  .p3-notes {
    width: 100% !important;
    margin: 0 !important;
  }

  .p3-activity-bg {
    width: 100% !important;
    margin: 1rem 0 !important;
  }

  .footerPage3 {
    width: 100% !important;
  }
}
